@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <h2>Para começar, selecione a aba  <a class="nav-link text-dark" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes ou clique aqui</a></h2>
</div>
